.calculator-button {
	display:grid;
	grid-template-columns:75px 75px 75px 75px;
	grid-template-rows: 70px 70px 70px 70px 70px;
	
	}
	#equals{
	grid-column: 1 / 5;
	background-color:rgb(144, 238, 144);
	}
	#equals:hover{
	background-color:green;
	}
	.button:hover{
	border-radius:50%;
	}
	
	.output{
	width:292px;
	height:70px;
	font-size:30px;
	text-align:right;
	color:blue;
	}
	.calculator{
	display:flex;
	flex-direction:column;
	align-items:center;
	
	}
	.display{
	width:300px;
	background-color:black;
	}
	.name{
	font-size:25px;
	text-align:center;
	color:white;
	}
	.button:hover{
	color:white;
	background-color:rgba(0, 0, 0, 0.5);
	
	}
	#purple{
	background-color:purple;
	color:white;
	}
	#purple:hover{
	background-color:rgb(137, 207, 240)
	}